{% extends 'main/index.html' %}

<html>
    {% block content %}
    <body>
        {% if shoppingCartMessage != "" and shoppingCartMessage != "Course added to your cart!"%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Course Not Added</strong> {{shoppingCartMessage}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <div class="centerDivElement">
            <h1 class="centerDivElement"> My Schedule &nbsp <i class="fa fa-calendar" aria-hidden="true" style= "margin-top: 3px; margin-right: 5px;"></i> </h1>
        </div>
        <div class = "text-center ms-5">
            <p style = " width: 100%; text-align: center;"> Plan out your schedule with the classes added to your cart. Time conflicts will automatically be prevented. </p>
        </div>
        <div class="d-flex ms-3 me-5">
            {% if user.is_authenticated %}
            <div class="mt-4 flex-fill">
                <ul style="list-style-type: none;">
                    
                    {% for day, classesList in schedule_courses.items %}
                        <div class='classBorder'
                                    style="width:90%;">
                                        <h3> {{day}}</h3>
                                        {% for classinfo in classesList %}
                                        <li>
                                            <p class="d-inline">{{ classinfo.department  }}</p>
                                            <p class="d-inline">{{ classinfo.catalogNumber  }} ({{classinfo.lectureType}}):</p>
                                            <p class="d-inline">{{ classinfo.description  }} :</p>
                                            {% if classinfo.start_time %}
                                                <div class="displayClass">{{ classinfo.start_time  }} - {{ classinfo.end_time}}&nbsp &nbsp &nbsp &nbsp</div>
                                            {% else %}
                                                <div class="displayClass">No Set Meeting Times - </div>
                                            {% endif %}                                            
                                            <p class="d-inline">({{ classinfo.credits}} Credits)</p>
                                            <a href="/main/myschedule/removefromschedule/{{classinfo.id}}" class="backCart" id="removeFromSchedule">Put Back in Cart</a>
                                        </li>
                                        {%endfor%}
                        </div>
                    {% endfor %}
                    <div style= 'background-image: linear-gradient(to right, #FF928B 0%, #FFAC81 100%); width:90%;'> <p style="margin-top:5px; margin-bottom: 5px; margin-right: 5px; font-size: 24px; display:inline-flex; font-weight: bold;">Total Credits <i class='bx bx-cart' style="font-size: 24px; margin-top:5px;"></i></p>
                    <p class="float-end me-4 fw-bold" style='margin-top:12px;display:inline-flex; font-weight: bold;'> {{scheduledCredits}} Credits </p>
                    </div>
                </ul>
            </div>
            <div class='mt-4 me-5' style="width:23%; height:10%; position:sticky; top:100px;" id='shoppingCart'>
                <div class='text-white text-center px-3 py-1 fw-bold mt-2' style='background-image: linear-gradient(45deg, #A7ACD9, #9E8FB2);'>  <i class='bx bx-cart' style= "margin-top: 3px; margin-right: 5px;"></i>Shopping Cart || {{creditAmount}} Credits</div>
                    {% for classAdded in classesInCart %}
                        <div class='text-center py-1' style="background-color:#f2f2f2; border-bottom: 1px solid;">{{classAdded.department}} {{classAdded.catalogNumber}} ({{classAdded.lectureType}}) {{classAdded.meeting_days}}: {{classAdded.start_time}}-{{classAdded.end_time}}
                        <a href="/main/coursecatalog/removeclass/{{classAdded.department}}/{{classAdded.id}}/2" class="float-end me-4 fw-bold" id="removeClass" style="color: #db5151;">X</a></div>
                    {% comment %} If the list is empty {% endcomment %}
                    {% empty %}
                        <div class='p-2 text-center' style="background-color:#f2f2f2;">Your shopping cart is empty.</div>
                    {% endfor %}
                    {% if classesInCart %}
                    <div class="mt-4 mx-auto" style="width: 40%;">
                        <div class="cart">
                            <a href="/main/myschedule/addtoschedule" title="" class="btn" style="background-color:#ed874e; font-weight:700; text-white;"> Add to Schedule</i></a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% comment %} Showing comments other users have posted abt your schedule {% endcomment %}
            <div class="ms-5">
                <p class="fs-3 mt-2 fw-bold">Friend Comments</p>
            </div>
                {% if hasComment %}
                    <div class="border border-dark border-2 rounded-2 ms-5 mb-3 p-1" style="width:61%;">
                        {% for comment in allComments %}
                            <div class=" p-1 mt-1 rounded-top d-flex justify-content-between">
                                <p style="text-decoration: underline; font-weight:bold;">{{ comment.author }}</p>
                                <a class="fw-bold me-3" style="color:#db5151;" title="Delete Comment" href="/main/deletecomment/{{comment.id}}/">X</a>
                            </div>
                            <p class="p-1 mb-2 rounded-bottom">{{ comment.commentBody }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class='fw-bold ms-5'>Your schedule has no comments. Ask your friends to be your first comment!</p>
                {% endif %}
            </div>
            {%else%}
            <h1> My Schedule is only available for CourSelect Account Holders. <br> Login or Create an Account
            <a href="/accounts/google/login" style="color: blue">  Here</a></h1>
            {% endif %}

        </div>

    </body>
    {% endblock content %}
</html>